# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment folders
venv/
env/
*.env

# Ignore logs and system files
*.log
.DS_Store
Thumbs.db

# Ignore dependency caches
pip-log.txt
pip-delete-this-directory.txt

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo
*.swn


# Ignore GitHub Actions temporary files
.github/workflows/*.log
